.input{
    margin: 2em;
    padding:2em;
    text-align: center;
}
textarea{
    margin: 1em;
}
ul{
    list-style: none;
}
h2{
    margin: 1em;
    padding: 1em;
   
}
h1{
    text-align: center;
}
.chat{
    columns: 2;
}
.allMessages{
    text-align: center;
    margin: 2em;
    padding: 2em;
}
// .message{
//     height: 100px !important;
//     // width: 400px;
// }

