<div class="chat">
  
  <div class="input" > 
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
      <label>Enter your Username</label> <br>
      <input type="text" name="username" class="username" formControlName="username"> <br><br>
      <label>Please enter your message</label> <br>
      <input type="text" name="message" class="message" formControlName="message"> <br>
      <br>
      <input type="submit" [disabled]="!chatForm.valid">
      <br>
      <p>Message Status: {{ chatForm.status }}</p>
    </form>
  
  </div>
 <app-chatRoomMessages></app-chatRoomMessages>


</div>
