.channels{
    margin: 1em;
    padding:1em;
    text-align: center;
    // display: flex;

   
}
.channelList{
    columns: 3;
    text-align: left;
    margin: 1em;
}
// .channelList{
//     border: solid black;
//     width: 13em;
//     height: 20em;
//     padding:3em;
//     margin: 3em;  
// }
textarea{
    margin: 1em;
}
ul{
    list-style: none;
}
h1{
    margin: 2em;
    text-align: center;
    
}
.channelNames{
    margin: 1em;
}
