.channels{
    margin: 2em;
    padding:4em;
    text-align: center;
    display: flex;

   
}
.channelList{
    border: solid black;
    width: 13em;
    height: 20em;
    padding:3em;
    margin: 3em;  
}
textarea{
    margin: 1em;
}
ul{
    list-style: none;
}
h1{
    margin: 5em;
    text-align: center;
    display: flex;
}
