.navbar span{
    text-align: center;
    color: lightcoral;
}
.navbar{    
    width: 110%;    
    background: black;
    height: 5em;
    margin: -1em;
}   

.navbar ul{
    color: blanchedalmond;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar li{    
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: white;
}

.navbar li:hover {
    background: grey;
}
a {
    color: honeydew;
}