<div class="allMessages">

  <h2>Chat Room Messages</h2>
  <ul class="messageList">
    <li *ngFor="let item of messages">
      <div class="chat-message">
        <div class="username"> <strong>Username:</strong> {{ item.username | titlecase }}</div>
        <div class="message"><strong>Message:</strong> {{ item.message }}</div>
        <div class="created-date"><strong>Message created:</strong> {{ item.created_on | date:'short' }}</div>
        <!-- change visibility when updated -->
        <div class="updated-date" style="visibility: hidden"><strong>Message Updated:</strong> {{ item.updated_on |
          date:'short' }}</div>
        <!-- <div class="id"><strong>Id: {{ item.id }}</strong></div> -->
        <button (click)="deletePost(item.id)">Delete Message</button>
      </div>
    </li>
  </ul>
  <br>
  <button (click)="getMessages()">Get current messages</button>
</div>